.dashboard {
  margin-top: 100px;
 text-align: center;
}


.savedMealsCard {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 40px;
  grid-auto-flow: column;
  margin-top: 50px;

}


