.loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 90px;

}


.loginForm {
   margin-top: 50px;
  text-align: center;
  border-style: solid;
  width: 25rem;
  height: 30rem;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 18px #888888;
  padding:  50px;
}

.loginForm > {
  text-align: center;
  margin-top: 50px;
}

.loginH2 {
 text-align: center;
}

.input {
  padding: 10px;
  text-align: center;
}

.submit {
  background-color: #54e346;
  width: 100px;
  height: 40px;
  margin: 10px;
}
